.App {
  text-align: center;
}

.paleta{
  display: flex;
}
.circulo {
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width:450px){
  .paleta{
    gap: 25px;
  }
  .circulo{
    width: 50px;
    height: 50px;
  }
  
}
@media (min-width:450px) and (max-width:1920px){
  .paleta{
    gap: 36px;
  }
  .circulo{
    width: 73.33px;
  height: 73.33px;
}
}