.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color:#2C2C2C;
  color:white;
  font-family: 'Poppins', sans-serif;
}
header{
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  margin: 34px 0 56px 0;
}

.container-wrap{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1165px;
  margin-left: auto;
  margin-right: auto;

  overflow: hidden;
}
.inputs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 88px;
  margin: 74px 0 110px 0;
}
.paleta{
  display: flex;
  justify-content: center;
  padding: 10px;
}
.circulo {
  display: flex;
  border-radius: 50%;
  border: 3px solid white;

  justify-items: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 2px 2px #00000026;
}
.circulo:focus{
  transform: scale(115%);
}
.listFavs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap:10px;

  max-width: 1165px;

  overflow: auto;
}
.PaletaSaved{
  display: flex;
  gap:25px;
  background: #151515;
  border-radius: 10px;
  width: fit-content;
  padding: 12px;
  margin: 0 5px 0 5px;
  cursor: pointer;;

}
.circuloSaved{
  display: flex;
  justify-items: center;
  align-items: center;

  border-radius: 50%;
  border: 3px solid white;
  
  box-shadow: 0px 0px 2px 2px #00000026;
  width: 42px;
  height: 42px;
}
input{
  background-color: transparent;
  border: 4px solid white;
  border-radius: 9px;
  color:white;
}
input::placeholder{
  color:white;
  font-size: 14px;
}

@media (max-width:450px){
  .paleta{
    gap: 25px;
  }
  .circulo{
    width: 50px;
    height: 50px;
  }
  header{
    font-size: 24px;
    line-height: 36px;
    margin: 14px 0 28px 0;
  }
  .listFavs{
    justify-content: center;

  }
  .inputs{
    gap: 21px;
    margin: 16px 0 43px 0;
  }
}
@media (min-width:450px) and (max-width:1920px){

  .paleta{
    gap: 36px;
  }
  .circulo{
    width: 73.33px;
  height: 73.33px;
}
}